.FutureForecast:not(:last-child) {
  border-bottom: 2px solid var(--light-item-separator-border-color);
}

.FutureForecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.FutureForecast--Status {
  color: var(--light-future-forecast-status-color);
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.FutureForecast--Status--Status {
  text-align: center;
  max-width: 150px;
  margin-left: 20px;
}
.FutureForecast--Day {
  color: var(--light-future-forecast-day-color);
  font-size: 20px;
  font-weight: 700;
}

.FutureForecast--Temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.FutureForecast--Temperature--Day {
  color: var(--light-future-forecast-temperature-day-color);
}
.FutureForecast--Temperature--Separator {
  color: var(--light-future-forecast-temperature-separator-color);
  font-weight: 500;
}
.FutureForecast--Temperature--Night {
  color: var(--light-future-forecast-temperature-night-color);
}
