.Page--Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Page--Name {
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  color: var(--light-page-name-color);
}
.Page--Name.active {
  color: var(--light-page-name-color-active);
}

.Page {
  cursor: pointer;
}

.Page:first-child {
  margin-top: 20px;
}

.Page:not(:last-child) {
  margin-bottom: 40px;
}

.Page:hover .Page--Name {
  color: var(--light-page-name-color-hover);
}

.Page:hover .Page--Name.active {
  color: var(--light-page-name-color-active-hover);
}
