.ForecastHour {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ForecastHour:not(:last-child) {
  border-right: 2px solid var(--light-item-separator-border-color);
}

.ForecastHour--Hour,
.ForecastHour--Icon,
.ForecastHour--Temperature {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ForecastHour--Hour {
  color: var(--light-forecast-hour-color);
  font-size: 20px;
  font-weight: 600;
}

.ForecastHour--Temperature {
  color: var(--light-forecast-temperature-color);
  font-size: 26px;
  font-weight: 900;
}
.ForecastHour--Icon > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Forecast--Air-Condition--Container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.Forecast--Air-Condition--Container--Item {
  height: 50%;
  padding: 15px;
  border-radius: 10px;
}
