::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #00000050;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000060;
}

:root {
  --light-background-color: #f5f5f5;
  --dark-background-color: #242222;

  --light-filled-panel-background-color: #eaecef;
  --light-forecast-panel-title-color: #9ea4ac;
  --light-navigation-background-color: #eaecef;

  --light-page-name-color-active: #202b3b;
  --light-page-name-color-active-hover: #444d57;

  --light-page-name-color: #737d8a;
  --light-page-name-color-hover: #8b929c;

  --light-item-separator-border-color: #dfe2e6;

  --light-future-forecast-status-color: #000;
  --light-future-forecast-day-color: #959ba3;

  --light-future-forecast-temperature-day-color: #000;
  --light-future-forecast-temperature-separator-color: #959ba3;
  --light-future-forecast-temperature-night-color: #9ea4ac;

  --light-forecast-hour-color: #959ba3;
  --light-forecast-temperature-color: #000;

  --light-city-input-color: #727478;
  --light-city-input-background-color: #eaecef;
  --light-city-input-border-color: #e0e0e0;
  --light-city-input-border-error-color: #dd9494;

  --light-city-input-placeholder-color: #9ea4ac;

  --light-city-input-button-color: #797d83;
  --light-city-input-button-hover-color: #65696e;

  --light-city-input-contianer-background-color: #ffffff90;

  --light-air-condition-label-color: #959ba3;
  --light-air-condition-value-color: #202b3b;

  --light-actual-forecast-temperature-color: #000;
  --light-actual-forecast-city-color: #202b3b;
  --light-actual-forecast-rain-color: #9ea4ac;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 15px;
  background-color: var(--light-background-color);
}

* {
  font-family: "Roboto", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .App {
    position: relative;
    display: block !important;
  }
  nav {
    border-top: 1px solid var(--light-city-input-border-color);
    height: -webkit-min-content !important;
    height: -moz-min-content !important;
    height: min-content !important;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute !important;
    -webkit-box-pack: space-evenly !important;
    justify-content: space-evenly !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border-radius: 0 !important;
    z-index: 1000;
  }
  .Page {
    margin: 0 !important;
  }
  .LeftSide {
    margin-top: 80px;

    width: 100% !important;
  }

  .RightSide {
    width: 100% !important;
    margin-top: 30px;
    margin-bottom: 95px;
  }
  .City-Input--Container {
    border: 0.5px solid var(--light-city-input-border-color);
    position: fixed !important;
    padding: 15px;
    width: calc(100% - 30px);
    top: 0;
    left: 0;
    background: var(--light-city-input-contianer-background-color);
    -webkit-backdrop-filter: blur(71px) !important;
    backdrop-filter: blur(71px) !important;
  }
  .City-Input--Button {
    right: 15px !important;
  }
  .ForecastHour {
    padding: 0 10px;
  }
}

section {
  width: 50%;
}

.Forecast--Panel {
  height: 100%;
  padding: 25px;
  border-radius: 25px;
}
.Forecast--Panel.filled {
  background-color: var(--light-filled-panel-background-color);
}

.Forecast--Panel:not(:last-child) {
  margin-bottom: 30px;
}

.Forecast--Panel h5 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--light-forecast-panel-title-color);
  font-size: 15px;
  font-weight: 500;
}

.Forecast--Panel h1 {
  padding: 0;
  margin: 0;
  color: var(--light-actual-forecast-city-color);
  font-size: 48px;
  font-weight: 700;
}

.Forecast--Panel span {
  color: var(--light-actual-forecast-rain-color);
  font-size: 16px;
  font-weight: 500;
}

.Forecast--Panel:not(.Actual-Forecast) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Forecast--Panel--Content {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
