::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #00000050;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000060;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 15px;
  background-color: #f5f5f5;
}

* {
  font-family: "Roboto", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .App {
    position: relative;
    display: inline !important;
    background-color: blue !important;
  }
  nav {
    border-top: 1px solid #e0e0e0;
    height: -webkit-min-content !important;
    height: -moz-min-content !important;
    height: min-content !important;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute !important;
    justify-content: space-evenly !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border-radius: 0 !important;
    z-index: 1000;
  }
  .Page {
    margin: 0 !important;
  }
  .LeftSide {
    margin-top: 80px;

    width: 100% !important;
  }
  .RightSide {
    width: 100% !important;
    margin-top: 30px;
    margin-bottom: 95px;
  }
  .City-Input--Container {
    border: 0.5px solid #e0e0e0;
    position: fixed !important;
    padding: 15px;
    width: calc(100% - 30px);
    top: 0;
    left: 0;
    background: #ffffff90;
    -webkit-backdrop-filter: blur(71px) !important;
    backdrop-filter: blur(71px) !important;
  }
  .City-Input--Button {
    right: 15px !important;
  }
  .ForecastHour {
    padding: 0 10px;
  }
}

section {
  width: 50%;
}

.Forecast--Panel {
  height: 100%;
  padding: 25px;
  border-radius: 25px;
}
.Forecast--Panel.filled {
  background-color: #eaecef;
}

.Forecast--Panel:not(:last-child) {
  margin-bottom: 30px;
}

.Forecast--Panel h5 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #9ea4ac;
  font-size: 15px;
  font-weight: 500;
}

.Forecast--Panel h1 {
  padding: 0;
  margin: 0;
  color: #202b3b;
  font-size: 48px;
  font-weight: 700;
}

.Forecast--Panel span {
  color: #9ea4ac;
  font-size: 16px;
  font-weight: 500;
}

.Forecast--Panel:not(.Actual-Forecast) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Forecast--Panel--Content {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100%);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
